.container { 
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
  perspective: 120px;
}

body {
	background: #333333;
}

.card {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

#score-board {
  color: white;
  text-align: center;
  width:100%;
  padding: 0;
}

#score-board li {
  display: inline;
  list-style-type: none;
  margin: 10px;
  padding: 3px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  background: #000000;
}

.matched {
	opacity: 0.2;
}

.card figure {
  position: absolute;
  width: 98px;
  height: 98px;
  line-height: 100px;
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}

#game-board {
  margin: 0 auto;
}

figure {
	margin: 0px;
}

.card .front {
  background: #664444;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  /*background-image: url('http://i0.kym-cdn.com/entries/icons/square/000/005/608/nyancat.gif');*/
}
.card .back {
  background: #000000;
  text-align: center;
  width: 98px;
  height: 98px;
  transform: rotateY( 180deg );
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.card.flipped {
  transform: rotateY( 180deg );
}