.container { 
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
  perspective: 120px;
}

body {
	background: #333333;
}

.card {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

#scoreboard {
  color: white;
  margin: 10px;
  padding: 3px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  background: #000000;
  text-align: center;
}

.found {
	opacity: 0.2;
}

.card figure {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}

#wholething {
	margin:0 auto;
}

figure {
	margin: 0px;
}

.card .front {
  background: #664444;
  background-image: url(img.jpeg);
}
.card .back {
  background: #000000;
  text-align: center;
  width: 98px;
  height: 98px;
  transform: rotateY( 180deg );
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.card.flipped {
  transform: rotateY( 180deg );
}