body {
	background: #333333;
}

#score-board {
  color: white;
  text-align: center;
  width:100%;
  padding: 0;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}

#score-board li {
  display: inline;
  list-style-type: none;
  margin-left: 1vmin;
  margin-right: 1vmin;
  padding: 1vmin;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background: #664444;
  font-size: 3vmin;
  border-radius: 2px;
  transition: background-color 0.25s;
}

#score-board li.flashGood {
  background-color:#558844;
}

#score-board li.flashBad {
  background-color:#993333;
}

#game-board {
  width: 80vmin;
  height: 80vmin;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.modal {
  width: 300px;
  height: 200px;
  line-height: 200px;
  position: fixed;
  top: 50%; 
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  z-index: 11; /* 1px higher than the overlay layer */
}